@import url('https://fonts.googleapis.com/css?family=Abel|Josefin+Sans|Montserrat');


html, body {
    height: 100%;
    line-height: 2rem;
    width: 100%;
    font-family: "josefin sans", "helvetica", sans-serif;
    color: #222;
    
  }


  .container-fluid {
    padding: 0;
    margin: 0;
    
  }

  
  /*navigation*/

  .navbar {
    padding: .8rem;
    font-family: "josefin sans", "helvetica", sans-serif;
  }
  
  .navbar-nav li {
    padding-left: 4rem;
  }
  
  .nav-link {
    font-size: 1.1rem;
    
  }

  .nav-logo {
    padding-right: 1.5rem;
  }

  /*photo*/

 .photo {
    padding: 4rem;
}

/*body*/

h2 {
  padding-bottom: 2rem;
}


 /*blockquote*/

 blockquote {
     padding: 4rem;
 }

.blockquote {
     background-color: #E9E9E9;
     border-left-style: solid;
     border-left-color: #06465C;
     padding: 2rem;
     
 }

 /*body*/

 .text {
     padding: 2rem 0 2rem 0;
 }

  /*footer*/

  .footer {
    font-family: "josefin sans", "helvetica", sans-serif;
  }


  .email {
    color: #222 !important;
  }
  
  .social {
    padding: 5rem;
    
  }
  
  .bump img {
    margin-top: 10px;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
  }
  
  .bump img:hover {
    margin-top: 3px;
  }
  
  .splattImage2 {
    background-image: url("../images/splatt.png");  
    min-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 6rem;
    padding-bottom: 10rem;
    
  }
  




  /*---Media Queries --*/
@media (min-width: 992px) {}




@media (min-width: 768px) {

  .social {
    width: 60%;
    margin: 0 auto;
  }
}



@media (min-width: 576px) {

 

}
