@import url('https://fonts.googleapis.com/css?family=Roboto');


html, body {
    height: 100%;
    line-height: 1.5rem;
    width: 100%;
    font-family: "Roboto", "helvetica", sans-serif;
    color: #222;
  }

  h2, h3, h4, h5, h6 {
    line-height: 2.5rem;
    padding: 1rem 0 1rem 0;
  }

  h3 {
    padding: 5rem 0 3rem 0;
    font-size: 2rem;
  }

  h1, h3 {
    font-weight: bold;
    
  }
  
  p {
    padding: 0 0 2rem 0;
  }

  img.padding {
    padding: 0 0 2rem 0;
  }

  .button {
      padding: 1rem 0 2rem 0;
  }

  .dark {
    background-color: #4F4F4F;
    padding: 2rem 0 2rem 0;
    
}

  

  /*navigation*/

.navbar {
    padding: .8rem:
  }
  
  .navbar-nav li {
    padding-right: 4rem;
  }
  
  .nav-link {
    font-size: 1.1rem;
  }

  /*key findings*/

  

  /*competitive analysis*/
  
  .text {
    color: #ffffff;
  }


  /*personas*/

  .headshot {
    padding-top: 2rem;
  }

  .card-img-top {
    height: 7rem;
    width: 7rem;
  }

  .card-deck {
    margin: 0;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .bold {
    font-weight: bold;
    font-size: 1.1rem;
  }

  /*information architecture*/

  .background {
    
      background-image: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)), url("../images/siteMapUserFlow.png");
      min-height: 300px;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
  }

  /*style guide*/

  .style {
    padding: 0;
    font-family: "Montserrat";
  }

  .style2 {
    padding: 0;
    font-family: "Raleway";
  }

  .color {
    padding: 3rem 0 2rem 0;
  }

  /*updates*/

  .future {
    padding-bottom: 2rem;
  }

  






  /*footer*/

  .container-fluid {
    padding: 0;
    
    overflow: hidden;
  }

.email {
  color: #222 !important;
}

.social {
  padding: 5rem;
}

h3.text-center {
  padding: 0;
}

.bump img {
  margin-top: 10px;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
}

.bump img:hover {
  margin-top: 3px;
}

.splattImage2 {
  background-image: url("../images/splatt.png");  
  min-height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 6rem;
  padding-bottom: 6rem;
}


/*media queries*/

@media (max-width: 576px) {


  .row {
    margin-left: inherit;
    margin-right: inherit;
  }
}

  


