@import url('https://fonts.googleapis.com/css?family=Abel|Josefin+Sans|Montserrat');


html, body {
    height: 100%;
    line-height: 2rem;
    width: 100%;
    font-family: "josefin sans", "helvetica", sans-serif;
    color: #222;
  }

  .row {
    margin: 0;
  }
  
  /*navigation*/

  .navbar {
    padding: .8rem;
  }
  
  .navbar-nav li {
    padding-left: 4rem;
  }
  
  .nav-link {
    font-size: 1.1rem;
  }
  
  .nav-logo {
    padding-right: 1.5rem;
  }

  /*resume*/

 .summary {
   padding: 2rem 0 2rem 0;
 }

  .resume2 {
    padding: 7rem 0 7rem 0;
  }

  .mobile-resume {
   
    padding: 7rem 2rem 0rem 2rem;
    
  }

  .printable {
    margin: 0 auto;
    padding: 5rem 0 5rem 0;
  }

  
  .space {
    padding: 0;
  }
  
  


  /*footer*/

  .background {
    background-image: url("../images/splatt.png");  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    z-index: 2;
  }

  .email {
    color: #222 !important;
  }

  footer.container-fluid {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  
  .social {
    padding: 5rem;
  }

  .bump img {
    margin-top: 10px;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
  }

  .bump img:hover {
    margin-top: 3px;
} 

  

  .email {
    color: #222 !important;
  }

/*media queries*/

  @media (min-width: 992px) {
    .mobile-resume {
      padding: 0 10rem 0 10rem;
    }
  }



  @media (min-width: 768px) {
    .social {
      width: 60%;
      margin: 0 auto;
    }

  }



  @media (max-width: 576px) {
    

    .space {
      padding-bottom: 3rem;
    }
  }
  
