@import url('https://fonts.googleapis.com/css?family=Abel|Josefin+Sans|Montserrat');


html, body {
  height: 100%;
  line-height: 2rem;
  width: 100%;
  font-family: "josefin sans", "helvetica", sans-serif;
  color: #222;
  overflow-x: hidden;
}

.container-fluid {
  padding: 0;
  margin: 0;
}


/*navigation*/

.navbar {
  padding: .8rem;
}

.navbar-nav li {
  padding-left: 4rem;
}

.nav-link {
  font-size: 1.1rem;
}

.nav-logo {
  padding-right: 1.5rem;
}

/*intro*/

.hero {
  font-size: 3.5rem;
  font-weight: bolder;
}

.intro {
  padding-top: 6rem;
  padding-bottom:6rem;
}

.hello {
  padding: 3rem;
}

.logo {
  max-height: 250px;
}

/*recent projects*/

.welcome {
  color: #222;
  margin: 0 auto;
  padding: 7rem 0 7rem 0;
}

.splattImage {
  background-image: url("../images/splatt.png");  
  min-height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/*projects*/

.project {
  padding: 5rem;
} 

.project1 {
  background-color: #06465C;
  color: #f3f3f7;
}

.project2 {
  background-color: #73BCB1;
  color: #222222;
}

.project3 {
  background-color: #06465C;
  color: #f3f3f7;
}

img.snippet {
  height: 400px;
  width: 400px;
}


/*footer*/

.email {
  color: #222 !important;
}

.social {
  padding: 5rem;
}

.bump img {
  margin-top: 10px;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
}

.bump img:hover {
  margin-top: 3px;
}

.splattImage2 {
  background-image: url("../images/splatt.png");  
  min-height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 6rem;
  padding-bottom: 6rem;
}








/*---Media Queries --*/
@media (min-width: 992px) {
}




@media (min-width: 768px) {

  .logo {
    max-height: 350px;
  }

  .social {
    width: 60%;
    margin: 0 auto;
  }

  
}

@media (min-width: 576px) {

  .hello {
    padding: 2.5rem;
  }

  .row {
    margin-left: inherit;
    margin-right: inherit;
  }
}



/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
